@import url('https://fonts.googleapis.com/css2?family=Andika:wght@700&family=Kalam&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@1,600&family=Poppins:wght@700&family=Quicksand:wght@500&family=Raleway&display=swap');

* {
    /* background-color: red; */
    margin: 0;
    padding: 0;
    /* font-family: 'Andika', sans-serif; */
    /* font-family: 'Kalam', cursive; */


}

a {
    text-decoration: none;
    color: black;
}

li {
    list-style: none;
    /* border:1px solid black; */
}

.icon {
    height: 36px;
    top: -3px;
    position: absolute;
}


.searchBox input {
    width: 27vw;
    height: 35px;
    margin: 0 20px;
    border-radius: 10px;
    font-size: 20px;
    border: none;
    outline: none;
    text-align: center;
}

.searchBox img {
    top: 4px;
    height: 28px;
}

:root {
    --navMidWidth: 55vw;
    --navLeftWidth: 18vw;
    --navRightWidth: 8vw;
}

@media screen and (max-width: 1500px )  {
    :root {
        --navMidWidth: auto;
        --navLeftWidth: 26vw;
        --navRightWidth: 12vw;
    }
}
@media screen and (max-width: 900px) {
    :root {
        --navMidWidth: auto;
        --navLeftWidth: 35vw;
        --navRightWidth: 16vw;
    }
}
@media screen and (max-width: 740px) {
    body{
        background-color: aquamarine;
    }
}

.searchBox {
    width: var(--navMidWidth);
    display: flex;
    font-size: 27px;
    align-items: center;
    position: sticky;
    justify-content: right;
    /* border: 1px solid saddlebrown; */
}

.left {
    display: flex;
    width: var(--navLeftWidth);
    justify-content: space-between;
    align-items: center;
    font-size: 28px;
    left: 2vw;
    position: sticky;
}

.right {
    display: flex;
    width: var(--navRightWidth);
    justify-content: space-between;
    /* background-color: azure;  */
    align-items: center;
    font-size: 28px;
    position: sticky;
    right: 3vw;
}


nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(255, 159, 124);
    height: 55px;
    /* position: -webkit-sticky; Safari */
    position: sticky;
    top: 0;
    font-family: 'Ubuntu', sans-serif;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 20px 25px -5px, rgba(0, 0, 0, 0.04) 0px 10px 10px -5px;
}




#firstSection, #secondSection{
    background:  linear-gradient(rgba(0, 0, 0, 0.587),rgba(227, 220, 220, 0.649),rgba(0, 0, 0, 0.324)) ,url('../images/banner.jpg');
    background-size:cover;
    padding:3vh;
}
.heading{
    font-size: 8vh;
    color: rgb(255, 255, 255);
    text-align: center;
    font-family: poppins;
}
#wlcm{
    font-size: 5vh;
    color: rgb(255, 255, 255);
    text-align: center;
    font-family: raleway;

}
.wsimg{
    max-width: 9vw;
display: inline-block;
margin-right: 2vw;

    }
.wsimg img{
max-width:100%;
border-radius: 5px;;


}
#whyus{
    background-color: rgb(255, 213, 189);
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 11vh 12vh;
    flex-wrap: wrap;
    border-radius: 15px;
    padding: 6vh 0vh;
    color:black
  }


.whyusinfo{
    margin-left: 2vw;
height: 13vh;

}
.card{
    padding: 2vh;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin: 0vh 2vw;
    width: 80vw;
    height: 17vh;
    font-family: quicksand,sans-serif;
    /* font-size: 2vh; */
   
  }
  
  footer{
    height:4vh;
    color:white;
    background-color: rgb(0, 0, 86);
    text-align: center;
    padding: 4px 4px;
    font-size:2.3vh;
  }
  .heading-sm
  {
   
    
    font-family: raleway;
    font-weight: 700;
    font-size: 3.5vh;
    padding-bottom: 1vh;
    
  }
  .content{
    font-size: 2.5vh;

  }
  

.teacher{
 width:5vw;
}