doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    title Dashboard
    style 
      include ../staticFolder/stylePugTest.css
     
  body
    
    
  section#studentSection
    .student
      .dp
        img(src='../static/dp.png' alt='dp')
      .infoContainer
        .name Name:
        .studentInfo Email:
        .studentInfo Phone:
        .studentInfo Age:
        .studentInfo Gender:
        .studentInfo Birth Date:
        .studentInfo Address:
