<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/x-icon" href="./static/logo/icon.png">
    <link rel="stylesheet"
        href="https://fonts.googleapis.com/css2?family=Material+Symbols+Rounded:opsz,wght,FILL,GRAD@48,400,0,0" />
    <title>ReLearn</title>
    <link rel="stylesheet" href="../servingItems/css/style.css">

</head>

<body>
    <nav>
        <ul class="left">
            <li><a href="#">
                    <div class="top">
                        <div class="icon"><span class="material-symbols-rounded">
                                school
                            </span></div>
                        <div class="company"><span id="Re">Re</span>learn</div>

                    </div>
                </a></li>
            <div class="mobileView"><a href="./courses">Courses</a>
                <div class="loginportion"> <button onclick="displayLogin()" class="login-sm">
                            Login</button></li>
                </div>
                <div class="menubar"> <span class="material-symbols-rounded menu">
                        menu
                    </span></div>
            </div>

        </ul>
        <ul class="right">
            <div class="leftlink"><a href="#whyus" onclick="displayAbout()">About</a>
                <a href="./courses">Courses</a>
            </div>
            <div class="rightElm">
                <div class="searchBox">
                    <input type="text" placeholder="Search here">
                    <div><span class="material-symbols-rounded search">
                            search
                        </span></div>
                </div>

                <!-- <li><img src="../servingItems/static/logo/call.png" alt="Phone no" id="copyPn" onclick="copyPn()" class="phIcon"></li> -->
                <div class="loginportion"><button onclick="displayLogin()" class="login">
                            Login</button></li>
                </div>
            </div>
        </ul>
    </nav>
    <div class="leftlinkMobile">
        <div class="searchBox">
            <input type="text" placeholder="Search here">
            <div><span class="material-symbols-rounded search">
                    search
                </span></div>
        </div>
        <div><a href="#whyus" onclick="displayAbout()">About</a></div>
        <div><a href="./courses">Courses</a></div>
        <div> <a href="./contact">Contact us</a></div>
    </div>
    <div id="whyusControl" style="position: fixed;top: 5vh;height: 0;display: flex;
    justify-content: center;
    width: 100%;"></div>
    <section id="firstSection">
        <div class="background">
            <div class="heading">For every student,<br>
                every classroom.<br>
                Real results.</div>
            <div id="wlcm">We welcome the online student to our website with good offers.<br> Do have a thorough look
                into
                the courses we provide to select the one best for you.</div>
        </div>

        <div class="why">Why Relearn ?</div>
        <div id="subwhy">Your One Stop
            Destination For Success</div>
        <div id="whyus">

           
            <div class="card">
                <div class="wsimg"><img src="./servingItems/static/images/bannerBackground.jpg" alt=""></div>
                <div class="whyusinfo">
                    <div class="heading-sm">Live / Scheduled Lectures</div>

                    <div class="content"> Learning is an important step for achieving dreams in a student's journey. We
                        encourage the student
                        to explore the concept in depth instead of memorizing. The live lectures help us in learning the
                        needs of the students and motivates the students to be creative and be passionate learners.
                    </div>
                </div>
            </div>

            <div class="card">
                <div class="wsimg"><img src="./servingItems/static/images/bannerBackground.jpg" alt=""></div>
                <div class="whyusinfo">
                    <div class="heading-sm">Live Doubt Solving Sessions</div>
                    <div class="content">At Relearn we always encourage students to ask questions. We have created an
                        atmosphere where students don't hesitate to ask their doubts. We firmly believe in More you ask,
                        the more you learn.
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="wsimg"><img src="./servingItems/static/images/bannerBackground.jpg" alt=""></div>
                <div class="whyusinfo">
                    <div class="heading-sm">Structured And Targeted Study Material</div>
                    <div class="content"> Explore the art of concept with our structured material with intelligent
                        question tackling and problem solving skills.
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="wsimg"><img src="./servingItems/static/images/bannerBackground.jpg" alt=""></div>
                <div class="whyusinfo">
                    <div class="heading-sm">Tests On Regular Basis For Progress Tracking</div>
                    <div class="content"> It is a set of test papers designed to make the student comfortable with all
                        possible varieties of questions along with the various ways in which the same question can be
                        put in order to make the student sweat in the exam hall.The problems involve multi-dimensional
                        thinking at a time.
                    </div>
                </div>
            </div>

        </div>

    </section>
    <div id="secondSection" onmouseleave="displayLoginOnce()">

        <div id="teacher">

            <div id="teacherimg"><img src="./servingItems/static/images/teacher.jpg" alt="teacher image"></div>
            <div id="teachertxt">
                <div id="teacherheading2"><span>TEACHERS</span></div>

                <div class="headingteacher"> “I'm finally able to truly differentiate my classroom. This has been
                    priceless for my students' engagement.”</div> <br>
                <div class="">We empower teachers to support their entire classroom. 90% of teachers who have used
                    Relearn
                    have found us effective.</div>
            </div>
        </div>
    </div>
    <footer>copyright &copy; Relearn . All rights reserved.</footer>
    <script src="../servingItems/javaScript/script.js"></script>
</body>

</html>