<!DOCTYPE html>
<html>
  <head>
    <title>Login</title>
    <style>
      body {
      background-color: antiquewhite
      }
    </style>
  </head>
  <body>
    <h2></h2>
    <div class="loginContainer">
      <div class="loginHeading">
        <h1>Almost Done</h1><span class="hoverPopout" id="closeForm" onclick="displayLogin()">X</span>
      </div>
      <form class="myForm" action="/courses" method="post">
        <input class="myInput" type="email" name="verifyEmail" value={{email}} readonly>
        <input class="myInput" type="number" name="clientOtp" placeholder="Enter your 6 digit ReLearn OTP here">
        <button class="btn hoverPopout" name="entry" value="3">Verify </button>
      </form>
      <style>
        @import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=Indie+Flower&family=Shadows+Into+Light&display=swap');
        .loginContainer {
        top:20vh;
        display: flex;
        position: sticky; 
        align-items: center;
        justify-self: center;
        flex-direction: column;
        min-height: 50vh;
        width: 45vw;
        margin: auto;
        margin-top: 30px;
        border: 2px solid black;
        border-radius: 10px;
        box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
        background-color: rgb(255 255 255 / 78%);
        outline: none;
        }
        .hoverPopout:hover {
        cursor: pointer;
        transform: scale(1.15);
        border-radius: 20px;
        /* box-shadow: 0 0 5px #42fbf2,
        0 0 10px #42fbf2,
        0 0 50px #42fbf2; */
        transition: 300ms ease-in-out;
        }
        .loginHeading {
        display: flex;
        position: relative;
        justify-content: center;
        align-items: center;
        font-family: 'Indie Flower', cursive;
        width: 45vw;
        }
        #closeForm {
        display: flex;
        font-size: 39px;
        position: absolute;
        padding-right: 1vw;
        top: 0;
        right: 0;
        font-weight: bold;
        cursor: pointer;
        /* background-color: antiquewhite; */
        }
        #closeForm:hover {
        color: rgb(202, 30, 32);
        }
        .loginHeading h1 {
        font-size: 39px;
        align-items: center;
        justify-content: center;
        padding: 1vh 0;
        margin-top: 2vh;
        /* background-color: aquamarine; */
        }
        .myForm {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        }
        .myInput {
        width: 60%;
        padding: 10px;
        margin: 10px;
        font-size: 16px;
        border: 2px solid rgb(92, 0, 0);
        border-radius: 12px;
        outline: none;
        }
        .btn {
        font-size: 20px;
        padding: 6px 12px;
        border: 2px solid black;
        border-radius: 20px;
        background-color: rgb(178 0 2);
        color: white;
        margin: 20px 0px;
        font-weight: bold;
        cursor: pointer;
        }
      </style>
      <script defer="">
        if (round>0) {
        alert(" do again")
        }
      </script>
    </div>
  </body>
</html>